form{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }
  form h3{
    color: #555;
    font-weight: 800;
    margin-bottom: 50px;
  }
  form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
  }
  form button{
    padding: 15px;
    background: #ff5361;
    color: #fff;  
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
  
  }
  
  .container{
    position: absolute;
    bottom: 0;
  }
  header{
    
    text-align: center;
    background-color: aquamarine;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: green;
    font-weight: 800;
    margin-bottom: 50px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
  border-bottom: 1px solid #ddd;
}

td{
  text-align: center;
}
th{
  background-color: #04aa6d;
  color: white;
}
tbody{
  background-color: #f5f5f5;
  font-family: cursive;
}