
.main{
    font-family: "Courgette", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: purple;
text-align: left;

}
.title {
    font-size: 130px;
    margin-bottom: 10px;
}
.reason{
    font-size: 25px;
    margin-bottom: 10px;
}

.form {
    font-family: "Courgette", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

ul{
    list-style-type: none;
}

li, button{
    font-size: x-large;
}


.formRows{
    justify-content: flex-end;
}

.create {
    font-family: "Courgette", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
text-align: left;
}
button{
    font-family: "Courgette", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

}





